sudo: false
language: cpp

branches:
  only:
    - master

matrix:
  include:
#    - os: linux
#      env: CONFIGURATION=Debug
#      compiler: gcc
#    - os: linux
#      env: CONFIGURATION=Debug
#      compiler: clang
    - os: osx
      env: CONFIGURATION=Debug
      compiler: clang
#    - os: linux
#      env: CONFIGURATION=Release
#      compiler: gcc
#    - os: linux
#      env: CONFIGURATION=Release
#      compiler: clang
    - os: osx
      env: CONFIGURATION=Release
      compiler: clang

script:
    - mkdir build && cd build
    - cmake -DCMAKE_BUILD_TYPE=$CONFIGURATION -DCMAKE_CXX_COMPILER_ARG1=-std=c++17 ..
    - make -j4
    - ctest --verbose

notifications:
  email:
    on_success: change
    on_failure: change
